body {
    color: red;
}

.bgr {
    background-color: aqua;
}

.w-p {
    color: blue;
}

.center {
    max-width: 50%; margin: 0 auto
}

.bold {
    font-weight: bold;
}

.p-10 {
    padding: 3rem;
}
