body {
    color: red;
}

.bgr {
    background-color: aqua;
}

.w-p {
    color: blue;
}

.center {
    max-width: 50%; margin: 0 auto
}

.bold {
    font-weight: bold;
}

.p-10 {
    padding: 3rem; 
}

.buybuy {
    font-size: 3rem;
    color: black;
}

.card {
    max-width: 35%;
    margin: 0 auto;
    color: black;
    padding: 2em;
    border: solid 1px #564c4c;
}

.alert-success {
    font-size: 1.1rem;
    font-weight: bold;
    max-width: 35%;
    margin: 0 auto;
    color: rgb(6, 98, 24);
    padding: 2em;
    border: solid 1px #084b15;
    background-color: rgb(162, 231, 180);
}
